.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.greeting{
  margin: 1rem;
  text-decoration: underline;
}

.greetingButton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
}

.greetingButton:hover {
  background: black;
  color: white;
}

.sendToBackendButton {
  position: fixed;
  top: 1rem;
  left: 10rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
}

.sendToBackendButton:hover {
  background: black;
  color: white;
}
