:root {
  --background: #f08484;
  --foreground: #171717;
}

#body{
  background: #f08484;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --background: #0a0a0a;
//     --foreground: #ededed;
//   }
// }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}